* {
    margin: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-list span {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.project-list a {
    font-size: 20px;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-family: sans-serif;
}


